<form class='container' method='POST' action='/me/my-courses?_method=DELETE'>
  {{!-- {{courses.deleted}} --}}
  <a href='/trash'>Thùng rác ({{count}})</a>
  <div class='d-flex align-items-center mb-3 mt-3'>
    <div>
      <label for='selectAllItemBoxs'>Chọn tất cả</label>
      <input class='mr-4' type='checkbox' id='selectAllItemBoxs' />
    </div>

    <div class='input-group' style='width: 300px;'>
      <div class='input-group-prepend'>
        <label class='input-group-text' for='inputGroupSelect'>Tùy chọn</label>
      </div>
      <select
        name='method'
        class='custom-select'
        id='inputGroupSelect'
        disabled
      >
        <option selected>Chọn</option>
        <option value='delete'>Xóa</option>
        {{! <option value='2'>Two</option> }}
        {{! <option value='3'>Three</option> }}
      </select>
    </div>

    <button
      type='submit'
      class='ml-4 btn btn-primary'
      id='btnSubmitAction'
      disabled
    >Thực hiện</button>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>STT</th>
        <th scope='col'>Tên khóa học</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <input
              name='idCourses'
              value='{{this._id}}'
              type='checkbox'
              class='select-item-box'
            />
          </td>
          <td>{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td class=''>
            <a
              href='/courses/{{this._id}}/edit'
              class='button-primary mx-4'
            >Sửa</a>
            <a
              class='button-primary mx-4'
              data-toggle='modal'
              data-target={{createId '#modal' @index}}
            >Xóa</a>
          </td>
        </tr>
      {{else}}
        <p>Bạn chưa thêm khóa học nào. <a href=''>Thêm khóa học</a></p>
      {{/each}}
    </tbody>
  </table>
</form>

{{#each courses}}
  <div class='modal' tabindex='-1' id={{createId 'modal' @index}}>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Xóa khóa học?</h5>
          <button
            type='button'
            class='close'
            data-dismiss='modal'
            aria-label='Close'
          >
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body'>
          <p>Khóa học này sẽ bị xóa khỏi danh sách.</p>
        </div>
        <div class='modal-footer'>
          <form
            method='POST'
            action='/courses/{{this._id}}/delete?_method=DELETE'
          >
            <button type='submit' class='btn btn-danger'>Xóa</button>
          </form>
          <button
            type='button'
            class='btn btn-secondary'
            data-dismiss='modal'
          >Hủy</button>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<script src='/js/index.js'></script>