<div class='container'>
  <h1 class='text-center'>Thùng rác</h1>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>STT</th>
        <th scope='col'>Tên khóa học</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
        <tr>
          <td>{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td class=''>
            <form
              method='POST'
              action='/courses/{{this._id}}/restore?_method=PATCH'
            >
              <button type='submit' class='button-primary mx-4'>Khôi phục</button>
            </form>

            <button
              data-toggle='modal'
              data-target={{createId '#modal' @index}}
              type='submit'
              class='button-primary mx-4'
            >Xóa vĩnh viễn</button>
            {{!-- <a
              class='button-primary mx-4'
              data-toggle='modal'
              data-target={{createId '#modal' @index}}
            >Xóa vĩnh viễn</a> --}}
          </td>
        </tr>
      {{else}}
        <p class='text-center'>Thùng rác trống.
          <a href='/me/my-courses'>Danh sách khóa học</a></p>
      {{/each}}
    </tbody>
  </table>
</div>

{{#each course}}
  <div class='modal' tabindex='-1' id={{createId 'modal' @index}}>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Xóa vĩnh viễn khóa học?</h5>
          <button
            type='button'
            class='close'
            data-dismiss='modal'
            aria-label='Close'
          >
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body'>
          <p>Hành động này sẽ không thể khôi phục.</p>
        </div>
        <div class='modal-footer'>
          <form
            method='POST'
            action='/courses/{{this._id}}/force?_method=DELETE'
          >
            <button type='submit' class='btn btn-danger'>Xóa</button>
          </form>
          <button
            type='button'
            class='btn btn-secondary'
            data-dismiss='modal'
          >Hủy</button>
        </div>
      </div>
    </div>
  </div>
{{/each}}